.center-content-container {
    display: flex;
}


.center-content-container .center-content-container-left {
    flex: 2;

}
.center-content-container-right {
    flex: 3;
    margin-left: 20px;
}
.center-content-container .center-content-container-right > *:not(:first-child) {
    margin-top: 22px;
}

@media screen and (max-width: 1060px){

    .center-content-container {
        display: flex;
        flex-direction: column;
    }
    
    .center-content-container-right {
    padding-top: 50px;
    margin-left: 0;
    }
    
}