.last-projects-container .last-projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4b4b4b;
    padding-bottom: 12px;
}
.last-projects-rapper {
    max-height: 170px;
    overflow: auto;
    }

.last-projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    padding-right: 85px;
}

.last-projects-container .last-projects-content >*:not(:first-child){
    margin-top: 17px;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #0f0f0f;
}
::-webkit-scrollbar-track {
    background-color: #0f0f0f;
    border-radius: 10px;
    margin-block-end: 3px;
    margin-block-start: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #302f2f;
    border-radius: 10px;
}