.header {
    height: 100px;
}
.home-container {
    background-color: #242424;
    min-height: 100vh;
}
.home-container .home-container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.home-container .home-container-content .home-container-content-bottom {
  display: flex;
  align-items: center;  
  margin: 10px auto 0;
  padding: 20px 0;
}

.home-container .home-container-content .home-container-content-bottom .logo-container {
    margin-left: 10px;
}

@media screen and (max-width: 1060px){

    .home-container .home-container-content {
        max-width: 600px;
        margin: 0 auto;
        min-height: 50vh;
    }
    
}

@media screen and (max-width: 500px){

    .home-container .home-container-content {
        max-width: 400px;
        margin: 0 auto;
        min-height: 40vh;
        padding: 10px;
    }
    
}